@model DigitalIsraelFund_System.Models.TableResult
@using DigitalIsraelFund_System.Models
@{
    ViewBag.Title = "מומחי מדען";
}

<script src="~/Scripts/validation.js"></script>
<script src="~/Scripts/ajaxSubmit.js"></script>

<input type="hidden" id="orderBy" value="@Model.OrderBy" />
<input type="hidden" id="isDesc" value="@Model.isDesc.ToString()" />
<input type="hidden" id="page" value="@Model.Page" />
<input type="hidden" id="resultsPerPage" value="@Model.ResultsPerPage" />


@helper SearchAbleCol(string fieldName, string fieldTitle, bool isSearchable, bool isOrderable, List<string> options)
{
    <td style="white-space:nowrap;padding:3px;font-size:small;font-weight:600;text-align:center;">
        @if (isSearchable)
        {
            <img style="width:12px;height:12px;" src="~/Content/Images/search_icon.png" />
        }
        @if (isOrderable)
        {
            <a href="#" onclick="setOrderBy('@fieldName');" style="white-space:nowrap;">@fieldTitle</a>
            if (Model.OrderBy == fieldName)
            {
                if (!Model.isDesc)
                { <font>🠟</font> }
                else
                { <font>🠝</font> }
            }
        }
        else
        {
            <text>@fieldTitle</text>
        }
        @if (isSearchable)
        {
            if (options == null)
            {
                <datalist id="listOptions_@fieldName"></datalist>
                <div class="input-group" style="width:100%;overflow-wrap:unset;direction:ltr">
                    <span class="input-group-addon" style="background-color:#EC7063;color:white;cursor:pointer;padding:6px;padding-left:10px;padding-right:10px;"
                          onclick="clearSearch('@fieldName');">x</span>
                    <input id="searchVal_@fieldName" type="search" value="@Request.Params.Get(fieldName)" list="listOptions_@fieldName" placeholder="חיפוש"
                           class="form-control" style="height:100%;padding:6px;min-width:80px;" oninput="updateSearchOptions('@fieldName')" onkeypress="searchAttempt(event);" />
                </div>
            }
            else
            {
                <div>
                    <select id="searchVal_@fieldName" class="form-control" style="width:auto;height:100%;padding:4px;padding-left:6px;" onchange="reload();">
                        <option value="">הכל</option>
                        @foreach (var op in options)
                        {
                            var selected = op == Request.Params[fieldName] ? "selected" : "";
                            <option value="@op" @selected>@op</option>
                        }
                    </select>
                </div>
            }
        }
    </td>
}

@helper numbersRow()
{
    <tr>
        <td colspan="4" style="direction:rtl;background:linear-gradient(to left, #E3E4FA , white);">
            &nbsp;&nbsp;
            <font>תוצאות לעמוד : </font>&nbsp;
            <select id="selectPP" onchange="changeResultsPerPage()">
                @for (int i = 1; i <= 5; ++i)
                {
                    if (i * 10 == Model.ResultsPerPage)
                    {
                        <option selected value="@(i*10)">@(i * 10)</option>
                    }
                    else
                    {
                        <option value="@(i*10)">@(i * 10)</option>
                    }
                }
            </select>
            &nbsp;&nbsp;
            @if (Model.NumPages <= 7)
            {
                for (int i = 1; i <= Model.NumPages; ++i)
                {
                    if (Model.Page != i)
                    {
                        <a href="#" style="font-size:small;" onclick="changePage(@i);">@i</a><font>&nbsp;</font>
                    }
                    else
                    {
                        <font style="font-size:small;color:darkgrey;">@i</font><font>&nbsp;</font>
                    }
                }
            }
        </td>
    </tr>
}

<div id="cntntDiv" contenteditable="false" style="height:100%;resize:none;overflow-y:auto;min-width:inherit;min-height:200px;border-width:thin;border-style: none;font-family:sans-serif;border-color:#555555;font-size:small;font-weight:400;" dir="rtl">
    <table>
        <tr style="background:linear-gradient(to left, #E3E4FA , white);">
            @using (Html.BeginForm("LoadMadanMomhimTableFromExcel", "Admin", FormMethod.Post, new { id = "fileForm", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <td>טען טבלה מ excel :</td>
                <td><input id="momhim_file" name="file" form="fileForm" class="form-control input-sm" type="file" /></td>
                <td><button id="loadBtn" class="btn btn-warning btn-sm" onclick="loadFile();">טען</button></td>
            }
        </tr>
    </table>
    <br />
    <table style="padding:5px 5px;border: 1px solid #ccc;margin:auto;width:100%;">
        <tr style="background-color:#E3E4FA;">
            <td style="padding:3px;font-weight:600;text-align:center;"></td>
            @SearchAbleCol("file_number", "מספר תיק", true, true, null)
            @SearchAbleCol("comp_number", "מספר חברה", true, true, null)
            @SearchAbleCol("comp_name", "שם חברה", true, true, null)
            @SearchAbleCol("status", "סטטוס", true, true, null)
            @SearchAbleCol("status_date", "תאריך סטטוס", true, true, null)
            @SearchAbleCol("request_date", "תאריך בקשה", true, true, null)
            @SearchAbleCol("name", "שם בודק", true, true, null)
            @SearchAbleCol("head_field", "ראש תחום", true, true, null)
            @SearchAbleCol("theme", "נושא", false, false, null)
            @SearchAbleCol("tester_phone", "טלפון בודק", true, true, null)
            @SearchAbleCol("tester_email", "אימייל בודק", true, true, null)
            @SearchAbleCol("phone", "טלפון", true, true, null)
            @SearchAbleCol("cellphone", "פלפון", true, true, null)
        </tr>
        @{ var count = (Model.Page - 1) * Model.ResultsPerPage + 1; }
        @foreach (Dictionary<string, string> line in Model.Table)
        {
            <tr style="border: 1px solid #ccc;">
                <td style="padding:3px;border: 0px solid #888;text-align:center;">
                    @(count++)
                </td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><div>@line["file_number"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><div>@line["comp_number"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><div>@line["comp_name"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><div>@line["status"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><div>@line["status_date"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><div>@line["request_date"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><div>@line["name"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><div>@line["head_field"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;white-space:nowrap;overflow:hidden;max-width:140px;"><div title="@line["theme"]">@line["theme"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><div>@line["tester_phone"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><a href="mailto:@line["tester_email"]">@line["tester_email"]</a></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><div>@line["phone"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><div>@line["cellphone"]</div></td>
            </tr>
                        }
        @numbersRow()
    </table>
</div>

<script>

    function changeResultsPerPage() {
        var pp = document.getElementById('selectPP').value;
        document.getElementById('resultsPerPage').value = pp;
        reload();
    }

    function changePage(pageNum) {
        document.getElementById('page').value = pageNum;
        reload();
    }

    function updateSearchOptions(field) {
        var data = {
            "searchVal": document.getElementById('searchVal_' + field).value,
            "searchBy": field
        };
        ajaxSbmt(data, '/Admin/SearchMadanMonheeBy',
            function (response) {
                var options = '';
                $.each(response.List, function (index, item) {
                    options += '<option value="' + item + '" />';
                });
                document.getElementById('listOptions_' + field).innerHTML = options;
            },
            function (msg) { });
    }

    function searchAttempt(event) {
        if (event.keyCode == 13) {
            reload();
        }
    }

    function clearSearch(fieldName) {
        document.getElementById('searchVal_' + fieldName).value = '';
        reload();
    }

    function setOrderBy(fieldName) {
        var orderBy = document.getElementById('orderBy');
        var order = document.getElementById('isDesc');
        if (orderBy.value == fieldName) {
            order.value = order.value == "True" ? "False" : "True";
        } else {
            order.value = "False";
        }
        orderBy.value = fieldName;
        reload();
    }

    function reload() {
        window.location.href = "/Admin/MadanMomhimManage?isDesc=" + document.getElementById('isDesc').value +
                        "&orderBy=" + document.getElementById('orderBy').value +
                        "&page=" + document.getElementById('page').value +
                        "&resultsPerPage=" + document.getElementById('resultsPerPage').value +
                        "&file_number=" + document.getElementById('searchVal_file_number').value +
                        "&comp_number=" + document.getElementById('searchVal_comp_number').value +
                        "&comp_name=" + document.getElementById('searchVal_comp_name').value +
                        "&status=" + document.getElementById('searchVal_status').value +
                        "&status_date=" + document.getElementById('searchVal_status_date').value +
                        "&request_date=" + document.getElementById('searchVal_request_date').value +
                        "&name=" + document.getElementById('searchVal_name').value +
                        "&head_field=" + document.getElementById('searchVal_head_field').value +
                        "&tester_phone=" + document.getElementById('searchVal_tester_phone').value +
                        "&tester_email=" + document.getElementById('searchVal_tester_email').value +
                        "&phone=" + document.getElementById('searchVal_phone').value +
                        "&cellphone=" + document.getElementById('searchVal_cellphone').value;
    }

    function loadFile() {
        $('#fileFrom').submit();
    }

</script>