@model DigitalIsraelFund_System.Models.TableResult
@using DigitalIsraelFund_System.Models
@{
    ViewBag.Title = "מומחי מדען";
}

<script src="~/Scripts/validation.js"></script>
<script src="~/Scripts/ajaxSubmit.js"></script>

@TableFunctions.NumbersAndOrdering(Model)

<div id="cntntDiv" contenteditable="false" style="height:100%;resize:none;overflow-y:auto;min-width:inherit;min-height:200px;border-width:thin;border-style: none;font-family:sans-serif;border-color:#555555;font-size:small;font-weight:400;" dir="rtl">
    <table>
        <tr style="background:linear-gradient(to left, #E3E4FA , white);">
            @using (Html.BeginForm("LoadMadanMomhimTableFromExcel", "Admin", FormMethod.Post, new { id = "fileForm", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <td>טען טבלה מ excel :</td>
                <td><input id="momhim_file" name="file" form="fileForm" class="form-control input-sm" type="file" /></td>
                <td><button id="loadBtn" class="btn btn-warning btn-sm" onclick="loadFile();">טען</button></td>
            }
        </tr>
    </table>
    <br />
    <table style="padding:5px 5px;border: 1px solid #ccc;margin:auto;width:100%;">
        <tr style="background-color:#E3E4FA;">
            <td style="padding:3px;font-weight:600;text-align:center;"></td>
            @TableFunctions.SearchAbleCol(Model, "file_number", "מספר תיק", true, true, null)
            @TableFunctions.SearchAbleCol(Model, "comp_number", "מספר חברה", true, true, null)
            @TableFunctions.SearchAbleCol(Model, "comp_name", "שם חברה", true, true, null)
            @TableFunctions.SearchAbleCol(Model, "status", "סטטוס", true, true, null)
            @TableFunctions.SearchAbleCol(Model, "status_date", "תאריך סטטוס", true, true, null)
            @TableFunctions.SearchAbleCol(Model, "name", "שם בודק", true, true, null)
            @TableFunctions.SearchAbleCol(Model, "head_field", "ראש תחום", true, true, null)
            @TableFunctions.SearchAbleCol(Model, "tester_phone", "טלפון בודק", false, false, null)
            @TableFunctions.SearchAbleCol(Model, "tester_email", "אימייל בודק", true, true, null)
            @TableFunctions.SearchAbleCol(Model, "phone", "טלפון", false, false, null)
            @TableFunctions.SearchAbleCol(Model, "cellphone", "פלפון", false, false, null)
        </tr>
        @{ var count = (Model.Page - 1) * Model.ResultsPerPage + 1; }
        @foreach (Dictionary<string, string> line in Model.Table)
        {
            <tr style="border: 1px solid #ccc;">
                <td style="padding:3px;border: 0px solid #888;text-align:center;">
                    @(count++)
                </td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><div>@line["file_number"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><div>@line["comp_number"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><div>@line["comp_name"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><div>@line["status"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><div>@line["status_date"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><div>@line["name"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><div>@line["head_field"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;white-space:nowrap;"><div>@line["tester_phone"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;"><a href="mailto:@line["tester_email"]">@line["tester_email"]</a></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;white-space:nowrap;"><div>@line["phone"]</div></td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;white-space:nowrap;"><div>@line["cellphone"]</div></td>
            </tr>
                        }
        @TableFunctions.numbersRow(Model)
    </table>
</div>

<script>

    function updateSearchOptions(field) {
        var data = {
            "searchVal": document.getElementById('searchVal_' + field).value,
            "searchBy": field
        };
        ajaxSbmt(data, '/Admin/SearchMadanMonheeBy',
            function (response) {
                var options = '';
                $.each(response.List, function (index, item) {
                    options += '<option value="' + item + '" />';
                });
                document.getElementById('listOptions_' + field).innerHTML = options;
            },
            function (msg) { });
    }

    function reload() {
        window.location.href = "/Admin/MadanMomhimManage?isDesc=" + document.getElementById('isDesc').value +
                        "&orderBy=" + document.getElementById('orderBy').value +
                        "&page=" + document.getElementById('page').value +
                        "&resultsPerPage=" + document.getElementById('resultsPerPage').value +
                        "&file_number=" + document.getElementById('searchVal_file_number').value +
                        "&comp_number=" + document.getElementById('searchVal_comp_number').value +
                        "&comp_name=" + document.getElementById('searchVal_comp_name').value +
                        "&status=" + document.getElementById('searchVal_status').value +
                        "&status_date=" + document.getElementById('searchVal_status_date').value +
                        "&name=" + document.getElementById('searchVal_name').value +
                        "&head_field=" + document.getElementById('searchVal_head_field').value +
                        "&tester_email=" + document.getElementById('searchVal_tester_email').value;
    }

    function loadFile() {
        $('#fileFrom').submit();
    }

</script>