@model DigitalIsraelFund_System.Models.TableResult
@using DigitalIsraelFund_System.Models
@{
    ViewBag.Title = "ניהול מומחים";
}

<style>
    .fakeInput {
        border: solid 0px #00A;
        border-radius: 4px;
        border-right-color: #38ACEC;
        border-right-width: 0px;
        text-align: center;
        width: 100px;
        display: inline-block;
        white-space: nowrap;
    }
</style>

<script src="~/Scripts/validation.js"></script>
<script src="~/Scripts/ajaxSubmit.js"></script>

@TableFunctions.NumbersAndOrdering(Model)

<select id="officesCopy" hidden>
    @{
        List<Dictionary<string, string>> offices = (List<Dictionary<string, string>>)ViewData["offices"];
        foreach (Dictionary<string, string> office in offices)
        {
            <option class="fakeInput" value="@office["id"]">@office["office_name"]</option>
        }
    }
</select>

<div id="cntntDiv" contenteditable="false" style="height:100%;resize:none;overflow-y:auto;min-width:inherit;min-height:200px;border-width:thin;border-style: none;font-family:sans-serif;border-color:#555555;font-size:small;font-weight:400;" dir="rtl">
    <table style="padding:5px 5px;border: 1px solid #ccc;margin:auto;width:100%;">
        <tr style="background-color:#E3E4FA;">
            <td style="padding:3px;font-weight:600;text-align:center;"></td>
            @TableFunctions.SearchAbleCol(Model, "fname", "שם פרטי", true, true, null)
            @TableFunctions.SearchAbleCol(Model, "lname", "שם משפחה", true, true, null)
            @TableFunctions.SearchAbleCol(Model, "email", "אימייל", true, true, null)
            @TableFunctions.SearchAbleCol(Model, "office_name", "משרד", true, true, null)
            <td style="padding:3px;font-weight:600;text-align:center;">טלפון</td>
            <td style="padding:3px;font-weight:600;text-align:center;">פלפון</td>
            <td style="padding:3px;font-weight:600;text-align:center;"></td>
            <td style="padding:3px;font-weight:600;text-align:center;"></td>
        </tr>
        <tr style="border: 1px solid #ccc;background-color:darkseagreen;">
            <td colspan="9" style="align-items:flex-start">
                @Html.ActionLink("הוסף מומחה חדש", "AddNewMomhee", "Admin", null, new { @class = "btn btn-primary btn-xs" })
            </td>
        </tr>
        @{ var count = (Model.Page - 1) * Model.ResultsPerPage + 1; }
        @foreach (Dictionary<string, string> line in Model.Table)
        {
            <tr style="border: 1px solid #ccc;">
                <td style="padding:3px;border: 0px solid #888;text-align:center;">
                    @{
                        if (Request.Params["file_number"] == null || Request.Params["file_number"] == "") {
                            @(count++)
                        }
                        else
                        {
                            @Html.ActionLink("צרף", "JoinMomheeAndRequest", "Admin",
            new { file_number = Request.Params["file_number"], momhee_id = line["id"], momhee_email = line["email"] },
            new { @class = "btn btn-primary btn-xs" })
                        }
                    }
                </td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;">
                    <input id="fname_@line["id"]" oninput="validateInput('fname_@line["id"]','Letters');" class="fakeInput" readonly value="@line["fname"]" />
                </td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;">
                    <input id="lname_@line["id"]" oninput="validateInput('lname_@line["id"]','Letters');" class="fakeInput" readonly value="@line["lname"]" />
                </td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;">
                    <input id="email_@line["id"]" oninput="validateInput('email_@line["id"]','Email');" style="width:180px;" class="fakeInput" readonly value="@line["email"]" />
                </td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;white-space:nowrap;">
                    <div id="office_name_div_@line["id"]">@line["office_name"]</div>
                </td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;">
                    <input id="phone_@line["id"]" oninput="validateInput('phone_@line["id"]','Phone');" class="fakeInput" readonly value="@line["phone"]" />
                </td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;">
                    <input id="cell_phone_@line["id"]" oninput="validateInput('cell_phone_@line["id"]','Phone');" class="fakeInput" readonly value="@line["cell_phone"]" />
                </td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;">
                    @Html.ActionLink("בקשות מקושרות", "RequestsManage", "AdminGovExp", new { momhee_name = line["fname"] + " " + line["lname"] }, new { @class = "btn btn-info btn-xs" })
                </td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;">
                    <button id="edit_@line["id"]" class="btn btn-warning btn-xs" onclick="showEdit('@line["id"]');">עריכה</button>
                </td>
            </tr>
                        }
        @TableFunctions.numbersRow(Model)
    </table>
</div>

<script>

    function showEdit(user_id) {
        var btn = document.getElementById('edit_' + user_id);
        if (btn.innerText != 'שמור') {
            var fields = ['fname_', 'lname_', 'email_', 'phone_', 'cell_phone_'];
            for (i = 0; i < fields.length; ++i) {
                document.getElementById(fields[i] + user_id).style.borderWidth = '1px';
                document.getElementById(fields[i] + user_id).style.borderRightWidth = '3px';
                document.getElementById(fields[i] + user_id).removeAttribute('readonly');
            }

            selectHTML = document.getElementById('officesCopy').innerHTML;
            div = document.getElementById('office_name_div_' + user_id);
            selected = div.innerText;
            div.innerText = "";
            select = document.createElement('select');
            select.id = 'office_' + user_id;
            select.innerHTML = selectHTML;
            for (i = 0; i < select.getElementsByTagName('option').length; i++) {
                child = select.getElementsByTagName('option')[i];
                if (child.innerText == selected) {
                    select.value = child.value;
                    break;
                }
            }
            div.appendChild(select);
            btn.innerText = 'שמור';
            btn.className = 'btn btn-success btn-xs';
        } else {
            var data = {
                "id" : user_id,
                "fname": document.getElementById('fname_' + user_id).value,
                "lname": document.getElementById('lname_' + user_id).value,
                "email": document.getElementById('email_' + user_id).value,
                "office": document.getElementById('office_' + user_id).value,
                "phone": document.getElementById('phone_' + user_id).value,
                "cellPhone": document.getElementById('cell_phone_' + user_id).value
            };
            ajaxSbmt(data, '/Admin/EditMomhee',
                function (response) {
                    location.reload();
                },
                function (msg) { alert(msg); });
        }
    }

    function updateSearchOptions(field) {
        var data = {
            "searchVal": document.getElementById('searchVal_' + field).value,
            "searchBy": field
        };
        ajaxSbmt(data, '/Admin/SearchUserBy',
            function (response) {
                var options = '';
                $.each(response.List, function (index, item) {
                    options += '<option value="' + item + '" />';
                });
                document.getElementById('listOptions_' + field).innerHTML = options;
            },
            function (msg) { });
    }

    function reload() {
        var addition = "";
        @{
            var add = "";
            if (Request.Params["file_number"] != null && Request.Params["file_number"] != "")
            {
                add = "file_number=" + Request.Params["file_number"];
            }
        }
        var addition = "@add";
        window.location.href = "/Admin/MomhimManage?isDesc=" + document.getElementById('isDesc').value +
        "&orderBy=" + document.getElementById('orderBy').value +
        "&page=" + document.getElementById('page').value +
        "&resultsPerPage=" + document.getElementById('resultsPerPage').value +
        "&fname=" + document.getElementById('searchVal_fname').value +
        "&lname=" + document.getElementById('searchVal_lname').value +
        "&office_name=" + document.getElementById('searchVal_office_name').value +
        "&email=" + document.getElementById('searchVal_email').value
        + "&" + addition;
    }

</script>