@model DigitalIsraelFund_System.Models.UserData
@{
    ViewBag.Title = "עריכה";
}

<script src="~/Scripts/validation.js"></script>
<script src="~/Scripts/ajaxSubmit.js"></script>

<div id="cntntDiv" contenteditable="false" style="height:100%;resize:none;overflow-y:auto;min-width:inherit;min-height:200px;border-width:thin;border-style: none;font-family:sans-serif;border-color:#555555;font-size:small;font-weight:400;" dir="rtl">
    <table>
        <tr>
            <td style="padding-left:50px;">
                <table style="padding:10px 5px;border: 0px solid #ccc;margin:auto;">
                    <tr style="background-color:white;border-radius:5px;">
                        <td style="padding:3px;font-weight:600;text-align:right;color:black;border: 0px solid #ccc;border-radius:5px;" colspan="2">
                            <div style="height:10px;border-top-left-radius:5px;border-top-right-radius:10px;background:linear-gradient(to left, #E3E4FA , white);"></div>
                            <div style="padding-right:20px;height:20px;border-top-left-radius:0px;border-top-right-radius:0px;background:linear-gradient(to left, #E3E4FA , white);">
                                עדכון פרטים אישיים
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:3px;font-weight:600;text-align:right;">
                            סיסמה
                        </td>
                        <td style="padding:3px;font-weight:600;text-align:center;">
                            <input id="password" oninput="validateInput('password', 'Password');" class="form-control" style="border-right-color: #ff0000;border-right-width: 3px;height:100%;" type="password" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:3px;font-weight:600;text-align:right;">
                            שם פרטי
                        </td>
                        <td style="padding:3px;font-weight:600;text-align:center;">
                            <input oninput="validateInput('firstname', 'Letters')" id="firstname"  class="form-control" style="border-right-color: #38ACEC;border-right-width: 3px;height:100%;width:240px;" type="text" value="@Model.FirstName"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:3px;font-weight:600;text-align:right;">
                            שם משפחה
                        </td>
                        <td style="padding:3px;font-weight:600;text-align:center;">
                            <input oninput="validateInput('lastname', 'Letters')" id="lastname" class="form-control" style="border-right-color: #38ACEC;border-right-width: 3px;height:100%;" type="text" value="@Model.LastName"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:3px;font-weight:600;text-align:right;">
                            אימייל
                        </td>
                        <td style="padding:3px;font-weight:600;text-align:center;">
                            <input oninput="validateInput('email', 'Email')" id="email"  class="form-control" style="border-right-color: #38ACEC;border-right-width: 3px;height:100%;" type="email" value="@Model.Email"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:3px;font-weight:600;text-align:right;">
                            טלפון
                        </td>
                        <td style="padding:3px;font-weight:600;text-align:center;">
                            <input oninput="validateInput('phone', 'Phone')" id="phone" class="form-control" style="border-right-color: #38ACEC;border-right-width: 3px;height:100%;" type="tel" value="@Model.Phone" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:3px;font-weight:600;text-align:right;">
                            פלפון
                        </td>
                        <td style="padding:3px;font-weight:600;text-align:center;">
                            <input oninput="validateInput('cell_phone', 'Phone')" id="cell_phone" class="form-control" style="border-right-color: #38ACEC;border-right-width: 3px;height:100%;" type="tel" value="@Model.CellPhone" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:3px;font-weight:600;text-align:right;">
                            משרד
                        </td>
                        <td style="padding:3px;font-weight:600;text-align:center;">
                            <select id="office" class="form-control" style="height:100%;">
                                @{ 
                                    List<Dictionary<string, string>> offices = (List<Dictionary<string, string>>)ViewData["offices"];
                                    foreach (Dictionary<string, string> office in offices)
                                    {
                                        var selected = office["office_name"] == Model.Office ? "selected" : "";
                                        <option value="@office["id"]" @selected>@office["office_name"]</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr style="background-color:white;">
                        <td style="padding:3px;font-weight:600;text-align:left;color:whitesmoke;" colspan="2">
                            <button id="choose" onclick="editPersonal();" class="btn btn-primary btn-xs">עדכן פרטים אישיים</button>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="padding-right:50px;border: 0px solid #ccc;border-right-width:1px;">
                <table style="padding:10px 5px;border: 0px solid #ccc;margin:auto;">
                    <tr style="background-color:white;border-radius:5px;">
                        <td style="padding:3px;font-weight:600;text-align:right;color:black;border: 0px solid #ccc;border-radius:5px;" colspan="2">
                            <div style="height:10px;border-top-left-radius:5px;border-top-right-radius:10px;background:linear-gradient(to left, #F5B041 , white);"></div>
                            <div style="padding-right:20px;height:20px;border-top-left-radius:0px;border-top-right-radius:0px;background:linear-gradient(to left, #F5B041 , white);">
                                שינוי סיסמה
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:3px;font-weight:600;text-align:right;">
                            סיסמה ישנה
                        </td>
                        <td style="padding:3px;font-weight:600;text-align:center;">
                            <input id="pass_old" oninput="validateInput('pass_old', 'Password');" class="form-control" style="border-right-color: #ff0000;border-right-width: 3px;height:100%;" type="password" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:3px;font-weight:600;text-align:right;">
                            סיסמה חדשה
                        </td>
                        <td style="padding:3px;font-weight:600;text-align:center;">
                            <input oninput="checkIfSame(); validateInput('pass_new', 'Password');" id="pass_new" class="form-control" style="border-right-color: #ff0000;border-right-width: 3px;height:100%;" type="password" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:3px;font-weight:600;text-align:right;">
                            סיסמה חדשה
                        </td>
                        <td style="padding:3px;font-weight:600;text-align:center;">
                            <input oninput="checkIfSame()" id="pass_new_verify" class="form-control" style="border-right-color: #38ACEC;border-right-width: 3px;height:100%;" type="password" />
                        </td>
                    </tr>
                    <tr style="background-color:white;">
                        <td style="padding:3px;font-weight:600;text-align:left;color:whitesmoke;" colspan="2">
                            <button id="choose" onclick="editPassword();" class="btn btn-warning btn-xs">שנה סיסמה</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<script>
    function checkIfSame() {
        newP1 = document.getElementById('pass_new');
        newP2 = document.getElementById('pass_new_verify');
        if (newP2.value == newP1.value) {
            newP2.style.borderRightColor = '#38ACEC';
        } else {
            newP2.style.borderRightColor = '#ff0000';
        }
    }

    function editPersonal() {
        var data = {
            "password": $('#password').val(),
            "fname": $('#firstname').val(),
            "lname": $('#lastname').val(),
            "email": $('#email').val(),
            "office": $('#office').val(),
            "phone": $('#phone').val(),
            "cellPhone": $('#cell_phone').val()
        };
        ajaxSbmt(data, '/GovExp/EditPersonalInfo',
            function (response) {
                alert("פרטים אישיים שונו בהצלחה.");
                location.reload();
            },
            function (msg) {
                alert(msg);
            });
    }

    function editPassword() {
        var newPass = $('#pass_new').val();
        var newPassVer = $('#pass_new_verify').val();
        if (newPass != newPassVer) {
            alert('הסיסמאות לא תואמות.');
            return;
        }
        var data = {
            "oldPass": $('#pass_old').val(),
            "newPass": $('#pass_new').val()
        };
        ajaxSbmt(data, '/GovExp/EditPassword',
            function (response) {
                alert("סיסמה שונתה בהצלחה.");
                location.reload();
            },
            function (msg) {
                alert(msg);
            });
    }
</script>