@model DigitalIsraelFund_System.Models.TableResult
@using DigitalIsraelFund_System.Models
@{
    ViewBag.Title = "ניהול בקשות";

    UserData user = (UserData)Session["user"];
    var type = user != null ? user.Type.ToLower() : "";
}

<style>
    .fakeInput {
        border: solid 0px #00A;
        border-radius: 4px;
        border-right-color: #38ACEC;
        border-right-width: 0px;
        min-width: 50px;
        display: inline-block;
        white-space: nowrap;
    }

    .xBtn {
        background-color: #f44336;
        border: none;
        color: white;
        padding: 2px 6px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        border-radius: 4px;
    }
</style>

<script src="~/Scripts/validation.js"></script>
<script src="~/Scripts/ajaxSubmit.js"></script>

@TableFunctions.NumbersAndOrdering(Model)

<div id="cntntDiv" contenteditable="false" style="height:100%;resize:none;overflow-y:auto;min-width:inherit;min-height:200px;border-width:thin;border-style: none;font-family:sans-serif;border-color:#555555;font-size:small;font-weight:400;" dir="rtl">
    @if (type == "admin")
    {
    <table>
        <tr style="background:linear-gradient(to left, #E3E4FA , white);">
            @using (Html.BeginForm("LoadRequestsTableFromExcel", "Admin", FormMethod.Post, new { id = "fileForm", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <td>טען טבלה מ excel :</td>
                <td><input id="momhim_file" name="file" form="fileForm" class="form-control input-sm" type="file" /></td>
                <td><button id="loadBtn" class="btn btn-warning btn-sm" onclick="loadFile()">טען</button></td>
            }
        </tr>
    </table>
    <br />
    }
    <table style="padding:5px 5px;border: 1px solid #ccc;margin:auto;width:100%;">
        <tr style="background-color:#E3E4FA;">
            <td style="padding:3px;font-weight:600;text-align:center;vertical-align:bottom;"></td>
            @TableFunctions.SearchAbleCol(Model, "file_number", "מספר תיק", true, true, null)
            @TableFunctions.SearchAbleCol(Model, "comp_name", "שם  חברה או היזם", true, true, null)
            @TableFunctions.SearchAbleCol(Model, "status", "סטטוס התיק", true, true, null)
            @TableFunctions.SearchAbleCol(Model, "submiter_name", "שם  המגיש", true, true, null)
            @if (type == "admin")
            {
                @TableFunctions.SearchAbleCol(Model, "momhee_name", "בודק של הרשות לחדשנות", true, true, null)
            }
            @{
                var dict = new Dictionary<string, string>();
                dict["אין"] = "אין";
                dict["בתהליך"] = "temp_";
                dict["מוגש"] = "mashov_";
            }
            @TableFunctions.SearchAbleCol(Model, "mashov", "משוב מומחה", true, true, dict)
            @TableFunctions.SearchAbleCol(Model, "fund_request", "גובה במענק המבוקש", false, false, null)
            @TableFunctions.SearchAbleCol(Model, "num_files", "קבצים", false, false, null)
            @TableFunctions.SearchAbleCol(Model, "madaan_momhee", "בודק משרדי", true, true, null)
        </tr>
        @{ var count = (Model.Page - 1) * Model.ResultsPerPage + 1; }
        @foreach (Dictionary<string, string> line in Model.Table)
        {
            <tr style="border: 1px solid #ccc;vertical-align:top;">
                <td style="padding:3px;border: 0px solid #888;text-align:center;">@(count++)</td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;">@line["file_number"]</td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;">@line["comp_name"]</td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;">@line["status"]</td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;">@line["submiter_name"]</td>
                @if (type == "admin")
                {
                    <td style="padding:3px;border: 0px solid #888;text-align:center;">
                        @{
                            if (line["momhee_name"] == "")
                            {
                                @Html.ActionLink("צרף מומחה", "MomhimManage", "Admin", new { file_number = line["file_number"] }, new { @class = "btn btn-primary btn-xs" })
                            }
                            else
                            {
                                @line["momhee_name"]
                                if (line["mashov"] == "אין")
                                {
                                    <text>&nbsp;</text>
                                    @Html.ActionLink("החלף", "MomhimManage", "Admin", new { file_number = line["file_number"] }, new { @class = "btn btn-warning btn-xs" })
                                }
                            }
                        }
                    </td>
                }
                <td style="padding:3px;border: 0px solid #888;text-align:center;white-space:nowrap;">
                    @if (type == "momhee")
                    {
                        if (line["mashov"].Contains("mashov_"))
                        {
                            @Html.ActionLink("צפה במשוב", "ViewMashov", "AdminGovExp", new { file_number = line["file_number"], form_ver = line["mashov_ver"] }, new { @class = "btn btn-primary btn-xs" })
                        }
                        else if (line["mashov"].Contains("temp_"))
                        {
                            @Html.ActionLink("המשך משוב", "AddMashov", "GovExp", new { file_number = line["file_number"], form_ver = line["mashov_ver"], isContinue = "true" }, new { @class = "btn btn-warning btn-xs" })
                        }
                        else
                        {
                            @Html.ActionLink("צרף משוב", "AddMashov", "GovExp", new { file_number = line["file_number"], isContinue = "false" }, new { @class = "btn btn-warning btn-xs" })
                        }
                    }
                    else if (type == "admin")
                    {
                        if (line["mashov"].Contains("mashov_"))
                        {
                            @Html.ActionLink("צפה במשוב", "ViewMashov", "AdminGovExp", new { file_number = line["file_number"], form_ver = line["mashov_ver"] }, new { @class = "btn btn-primary btn-xs" })
                            @:&nbsp;
                            @Html.ActionLink("פתח לשינויים", "OpenForChanges", "Admin", new { file_number = line["file_number"], form_ver = line["mashov_ver"] }, new { @class = "btn btn-danger btn-xs" })
                        }
                        else if (line["mashov"].Contains("temp_"))
                        {
                            <text>בתהליך</text>
                        }
                        else
                        {
                            @line["mashov"]
                        }
                    }
                </td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;">@line["fund_request"]</td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;">
                    <button type="button" id="files_show_btn_@line["file_number"]" class="btn btn-info btn-xs" onclick="showFiles('@line["file_number"]');">
                        הצג  &nbsp;<span class="label label-primary">@line["num_files"]</span>
                    </button>
                    <button type="button" id="files_hide_btn_@line["file_number"]" class="btn-warning btn-xs" hidden onclick="hideFiles('@line["file_number"]');">הסתר</button>
                    <div>
                        <ul id="files_list_@line["file_number"]" style="list-style-type:circle" hidden>
                        </ul>
                    </div>
                </td>
                <td style="padding:3px;border: 0px solid #888;text-align:center;">@line["madaan_momhee"]</td>
            </tr>
        }
        @TableFunctions.numbersRow(Model)
    </table>
</div>

<script>

    function updateSearchOptions(field) {
        var data = {
            "searchVal": document.getElementById('searchVal_' + field).value,
            "searchBy": field
        };
        ajaxSbmt(data, '/AdminGovExp/SearchRequestBy',
            function (response) {
                var options = '';
                $.each(response.List, function (index, item) {
                    options += '<option value="' + item + '" />';
                });
                document.getElementById('listOptions_' + field).innerHTML = options;
            },
            function (msg) { });
    }

    function reload() {
        var momh_name = document.getElementById('searchVal_momhee_name');
        var add = "";
        if (momh_name != null)
            add = "&momhee_name=" + momh_name.value;
        window.location.href = "/AdminGovExp/RequestsManage?isDesc=" + document.getElementById('isDesc').value +
                        "&orderBy=" + document.getElementById('orderBy').value +
                        "&page=" + document.getElementById('page').value +
                        "&resultsPerPage=" + document.getElementById('resultsPerPage').value +
                        "&file_number=" + document.getElementById('searchVal_file_number').value +
                        "&comp_name=" + document.getElementById('searchVal_comp_name').value +
                        "&status=" + document.getElementById('searchVal_status').value +
                        "&madaan_momhee=" + document.getElementById('searchVal_madaan_momhee').value +
                        "&submiter_name=" + document.getElementById('searchVal_submiter_name').value +
                        "&mashov=" + document.getElementById('searchVal_mashov').value +
                        add;
    }

    function loadFile() {
        $('#fileFrom').submit();
    }

    function showFiles(file_number) {
        var data = {
            "file_number": file_number
        };
        ajaxSbmt(data, '/AdminGovExp/GetFilesForRequest',
            function (response) {
                var options = '';
                $.each(response.List, function (index, item) {
                    options += '<li style="white-space:nowrap;"><a href="/AdminGovExp/DownloadFile?fileN=' + file_number + '&file=' + item + '">' + item + '</a></li>';
                });
                document.getElementById('files_list_' + file_number).innerHTML = options;
                $('#files_show_btn_' + file_number).fadeOut(0);
                $('#files_hide_btn_' + file_number).fadeIn(0);
                $('#files_list_' + file_number).fadeIn(200);
            },
            function (msg) { });
    }

    function hideFiles(file_number) {
        document.getElementById('files_list_' + file_number).innerHTML = "";
        $('#files_show_btn_' + file_number).fadeIn(0);
        $('#files_hide_btn_' + file_number).fadeOut(0);
        $('#files_list_' + file_number).fadeOut(200);
    }

</script>