@using DigitalIsraelFund_System.Models

@helper SearchAbleCol(TableResult table, string fieldName, string fieldTitle, bool isSearchable, bool isOrderable, Dictionary<string, string> options)
{
    <td style="padding:3px;font-size:small;font-weight:600;text-align:center;white-space:nowrap;">
        @if (isSearchable)
        {
            <img style="width:12px;height:12px;" src="~/Content/Images/search_icon.png" />
        }
        @if (isOrderable)
        {
            <a href="#" onclick="setOrderBy('@fieldName');" style="white-space:nowrap;">@fieldTitle</a>
            if (table.OrderBy == fieldName)
            {
                if (!table.isDesc)
                { <font>🠟</font> }
                else
                { <font>🠝</font> }
            }
        }
        else
        {
            <text>@fieldTitle</text>
        }
        @if (isSearchable)
        {
            if (options == null)
            {
                <datalist id="listOptions_@fieldName"></datalist>
                <div class="input-group" style="width:100%;overflow-wrap:unset;direction:ltr">
                    <span class="input-group-addon" style="background-color:#EC7063;color:white;cursor:pointer;padding:6px;padding-left:10px;padding-right:10px;"
                          onclick="clearSearch('@fieldName');">x</span>
                    <input id="searchVal_@fieldName" type="search" value="@Request.Params.Get(fieldName)" list="listOptions_@fieldName" placeholder="חיפוש"
                           class="form-control" style="height:100%;padding:6px;" oninput="updateSearchOptions('@fieldName')" onkeypress="searchAttempt(event);" />
                </div>
            }
            else
            {
                <div>
                    <select id="searchVal_@fieldName" class="form-control" style="width:auto;height:100%;padding:4px;padding-left:6px;" onchange="reload();">
                        <option value="">הכל</option>
                        @foreach (var op in options.Keys)
                        {
                            var selected = options[op] == Request.Params[fieldName] ? "selected" : "";
                            <option value="@options[op]" @selected>@op</option>
                        }
                    </select>
                </div>
            }
        }
    </td>
}


@helper numbersRow(TableResult table)
{
    <tr>
        <td colspan="4" style="direction:rtl;background:linear-gradient(to left, #E3E4FA , white);">
            &nbsp;&nbsp;
            <font>תוצאות לעמוד : </font>&nbsp;
            <select id="selectPP" onchange="changeResultsPerPage()">
                @for (int i = 1; i <= 5; ++i)
                {
                    if (i * 10 == table.ResultsPerPage)
                    {
                        <option selected value="@(i*10)">@(i * 10)</option>
                    }
                    else
                    {
                        <option value="@(i*10)">@(i * 10)</option>
                    }
                }
            </select>
            &nbsp;&nbsp;
            @for (int i = 1; i <= table.NumPages; ++i)
            {
                if (table.Page != i)
                {
                    <a href="#" style="font-size:small;" onclick="changePage(@i);">@i</a><font>&nbsp;</font>
                }
                else
                {
                    <font style="font-size:small;color:darkgrey;">@i</font><font>&nbsp;</font>
                }
            }
        </td>
    </tr>
}

@helper NumbersAndOrdering(TableResult table) {
    <input type="hidden" id="orderBy" value="@table.OrderBy" />
    <input type="hidden" id="isDesc" value="@table.isDesc.ToString()" />
    <input type="hidden" id="page" value="@table.Page" />
    <input type="hidden" id="resultsPerPage" value="@table.ResultsPerPage" />

    <script>
        function changeResultsPerPage() {
            var pp = document.getElementById('selectPP').value;
            document.getElementById('resultsPerPage').value = pp;
            reload();
        }

        function changePage(pageNum) {
            document.getElementById('page').value = pageNum;
            reload();
        }

        function searchAttempt(event) {
            if (event.keyCode == 13) {
                document.getElementById('page').value = '1';
                reload();
            }
        }

        function clearSearch(fieldName) {
            document.getElementById('searchVal_' + fieldName).value = '';
            reload();
        }

        function setOrderBy(fieldName) {
            var orderBy = document.getElementById('orderBy');
            var order = document.getElementById('isDesc');
            if (orderBy.value == fieldName) {
                order.value = order.value == "True" ? "False" : "True";
            } else {
                order.value = "False";
            }
            orderBy.value = fieldName;
            reload();
        }
    </script>
}